.A11_area{//研究中心
  img{
    filter:drop-shadow(0 0 10px rgb(123, 85, 160));
  }
}
.A10_area{//道教石窟
  img{
    filter:drop-shadow(0 0 10px rgb(101, 77, 44));
  }
}
.A9_area{//天人区
  img{
    filter:drop-shadow(0 0 10px rgb(172, 68, 148));
  }
}
.A7_area{//运算区
  img{
    filter:drop-shadow(0 0 10px rgb(236, 167, 200));
  }
}
.A6_area{//古矿坑
  img{
    filter:drop-shadow(0 0 10px rgb(77, 77, 46));
  }
}
.A5_area{//炼丹区
  img{
    filter:drop-shadow(0 0 10px rgb(166, 30, 42));
  }
}
.A4_area{//仓库区
  img{
    filter:drop-shadow(0 0 10px rgb(139, 185, 255));
  }
}
.A3_area{//农产区
  img{
    filter:drop-shadow(0 0 10px rgb(174, 113, 33));
  }
}
.A2_area{//蓄能井
  img{
    filter:drop-shadow(0 0 10px rgb(126, 198, 168));
  }
}
.A1_area{//牧场区-处理场
  img{
    filter:drop-shadow(0 0 10px rgb(56, 111, 104));
  }
}
.A0_area{//牧场区-牧场
  img{
    filter:drop-shadow(0 0 10px rgb(88, 59, 64));
  }
}
.AG_area{//牧场区-牧场
  img{
    filter:drop-shadow(0 0 10px rgb(154, 146, 115));
  }
}